<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="komodo2_robot" description="ARMadillo2 Robot">
    
    <xacro:include filename="$(find komodo2_description)/urdf/komodo2.xacro" />
        
    <xacro:arg name="depth_cam" default="true"/>
    <xacro:arg name="rgb_cam" default="30.0"/>
    <xacro:arg name="urf" default="true"/>
    <xacro:arg name="imu" default="true"/>
    <xacro:arg name="gps" default="true"/>
    <xacro:arg name="lidar" default="true"/>
    <xacro:arg name="softkinetic" default="true"/>
    
    <!-- softkinetic -->
    <xacro:if value="$(arg depth_cam)">
<!--        <xacro:softkinetic_gazebo name="softkinetic_rgb" ros_topic="softkinetic"/> -->
    </xacro:if>
    
    
    
    <!-- kinect 2 -->
    <xacro:if value="$(arg rgb_cam)">
<!--        <xacro:property name="kinect2_hz" value="$(arg kinect2_hz)"/>
        <xacro:property name="kinect2_hd" value="$(arg kinect2_hd)"/>
        <xacro:property name="kinect2_qhd" value="$(arg kinect2_qhd)"/>
        <xacro:property name="kinect2_sd" value="$(arg kinect2_sd)"/>
        <xacro:include filename="$(find komodo2_gazebo)/macros/kinect2.xacro" />-->
    </xacro:if>
    
    
    
    <!-- Sonars -->
    <xacro:if value="$(arg urf)">
        <xacro:include filename="$(find komodo2_gazebo)/macros/urf.xacro" />
        <xacro:urf name="front" link="front_urf_link" topic="URF/front" fov="${10.0*M_PI/180.0}" min="0.2" max="5.0"/>
    </xacro:if>
    
    
    <!-- hokuyo  utm-30lx -->
    <xacro:if value="$(arg lidar)">
        <xacro:include filename="$(find komodo2_gazebo)/macros/hokuyo.xacro" />
        <xacro:lidar link="laser_link" topic="scan" samples="720" resolution="1" min_angle="-1.5707963" max_angle="1.5707963" range_min="0.1" range_max="30" range_resolution="0.03" />
    </xacro:if>
    
    
    <!-- GPS   -->
    <xacro:if value="$(arg gps)">
        <xacro:include filename="$(find komodo2_gazebo)/macros/gps.xacro" />
        <xacro:gps link="base_link" hz="5" topic="GPS" lat="31.262218" long="34.80146100" alt="298"/>
    </xacro:if>
    
    <!-- IMU   -->
    <xacro:if value="$(arg imu)">
        <xacro:include filename="$(find komodo2_gazebo)/macros/imu.xacro" />
        <xacro:imu link="base_link" hz="50" topic="IMU" />
    </xacro:if>
    
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotSimType>gazebo_ros_control/Komodo2RobotHWSim</robotSimType> 
        </plugin>
    </gazebo>
    
    <transmission name="left_wheel_joint_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="left_wheel_joint">
            <hardwareInterface>VelocityJointInterface</hardwareInterface>
        </joint>
        <actuator name="left_wheel_joint_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    
    <transmission name="right_wheel_joint_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="right_wheel_joint">
            <hardwareInterface>VelocityJointInterface</hardwareInterface>
        </joint>
        <actuator name="right_wheel_joint_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    
    
    <gazebo reference="left_wheel_link">
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <kp>1000000.0</kp>
        <kd>100.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>1.0</maxVel>
    </gazebo>
    
    <gazebo reference="right_wheel_link">
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <kp>1000000.0</kp>
        <kd>100.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>1.0</maxVel>
    </gazebo>
    
    <gazebo reference="base_link">
        <mu1>0.3</mu1>
        <mu2>0.3</mu2>
    </gazebo>
    
</robot>
