<?xml version="1.0"?>

<robot name="softkinetic_camera" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="M_PI" value="3.14159265359"/>

  <xacro:macro name="softkinetic_camera" params="name *origin">


    <!-- Add frames for RGB and depth optical axes -->
    <joint name="${name}_rgb_joint" type="fixed">
      <origin xyz="0.025 -0.0125 0.0" rpy="0.0 0.0 0.0"/>
      <parent link="${name}_link"/>
      <child link="${name}_rgb_frame"/>
    </joint>
    <link name="${name}_rgb_frame"/>
    <joint name="${name}_rgb_optical_joint" type="fixed">
      <origin xyz="0.0 0.0 0.0" rpy="${-M_PI/2} 0.0 ${-M_PI/2}"/>
      <parent link="${name}_rgb_frame"/>
      <child link="${name}_rgb_optical_frame"/>
    </joint>
    <link name="${name}_rgb_optical_frame"/>
    
    <joint name="${name}_depth_joint" type="fixed">
      <origin xyz="0.0 0.0125 0.0" rpy="0.0 0.0 0.0"/>
      <parent link="${name}_link"/>
      <child link="${name}_depth_frame"/>
    </joint>
    <link name="${name}_depth_frame"/>
    <joint name="${name}_depth_optical_joint" type="fixed">
      <origin xyz="0.0 0.0 0.0" rpy="${-M_PI/2} 0.0 ${-M_PI/2}"/>
      <parent link="${name}_depth_frame"/>
      <child link="${name}_depth_optical_frame"/>
    </joint>
    <link name="${name}_depth_optical_frame"/>
  </xacro:macro>
</robot>
